<div class="spotify_home-container row">
  <div class="spotify_home-container_side-bar col-2">
    <div class="spotify_home-container_side-bar-item">
      <img width="150" class="m-3 text-left" src="assets/spotify_light.png" alt="Spotify Logo">
    </div>
    <div class="spotify_home-container_side-bar-item">
      <a> Home </a>
    </div>
    <div class="spotify_home-container_side-bar-item">
      <a> Search</a>
    </div>
    <div class="spotify_home-container_side-bar-item">
      <a> Your Library </a>
    </div>
    <div class="spotify_home-container_side-bar-item">
      <a> Create Playlist </a>
    </div>
  </div>
  <div class="spotify_home-container_playlist-container col-10">
    <app-top-nav> </app-top-nav>
  </div>
</div>
